<h1 mat-dialog-title>Formulario</h1>
<form [formGroup]="registerForm">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName" required>
            <mat-error *ngIf="registerForm.controls.firstName.hasError('required')">
                Please enter First Name
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName" required>
            <mat-error *ngIf="registerForm.controls.lastName.hasError('required')">
                Please enter Last Name
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Grade" formControlName="grade" required>
            <mat-error *ngIf="registerForm.controls.grade.hasError('required')">
                Please enter grade
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="License" formControlName="license" required>
            <mat-error *ngIf="registerForm.controls.license.hasError('required')">
                Please enter License
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Age" formControlName="age" required>
            <mat-error *ngIf="registerForm.controls.age.hasError('required')">
                Please enter Age
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sex" formControlName="sex" required>
            <mat-error *ngIf="registerForm.controls.sex.hasError('required')">
                Please enter Sex
            </mat-error>
        </mat-form-field>
    </div>
</form>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="submitStudent()">Save & Exit</button>
</div>